---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1?api_key=<TMDB_API_KEY>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS
      X-Memc-Key:
      - 5ef0f36e1049afbcf98468dc8b67d701f1298abf
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
    body:
      encoding: UTF-8
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Sun, 11 Apr 2021 00:19:46 GMT
recorded_with: VCR 6.0.0
